.shoppingApp {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.itemsWrapper {
  align-items: center;
  justify-content: center;
}

.leftSide {
  position: absolute;
  left: 0;
  padding-top: 32px;
  width: calc(100% - 300px);
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: linear-gradient(
    0deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(233, 193, 148, 1) 100%
  );
}

.rightSide {
  position: absolute;
  width: 300px;
  height: 100%;
  right: 0;
  background-color: white;
}

.item {
  background: linear-gradient(
    0deg,
    rgb(245, 245, 245) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  color: rgb(173, 108, 21);
}
